body {
  background-image: url("../images/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
}
header .conteinerLogo #logoBeirut {
  width: 270px;
  height: 180px;
}
header .conteinerNav {
  padding-top: 40px;
}
header .conteinerNav li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
header .conteinerNav li a {
  color: #cee0d4;
  font-size: 32px;
  font-family: "Merienda", cursive;
  text-decoration: none;
}
header .conteinerNav li a:hover {
  color: rgba(68, 158, 95, 0.89);
}

footer {
  background-image: linear-gradient(#750505, #bd5757, #3b0202);
  width: 100%;
}
footer .container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .container-footer .textoPiePagina {
  color: #cee0d4;
  font-size: 20px;
  font-family: "Merienda", cursive;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
footer .container-footer .textoPiePagina #bandera {
  width: 80px;
  height: 50px;
}
footer .container-footer .logosPiePagina {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .container-footer .logosPiePagina #logoRedes {
  width: 30px;
  height: 35px;
}
.cuerpo .tituloMain1 {
  color: #cee0d4;
  font-size: 45px;
  font-family: "Merienda", cursive;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.cuerpo .datosForm,
.cuerpo .datosForm #boton {
  color: #cee0d4;
  font-size: 20px;
  font-family: "Merienda", cursive;
  margin-right: 400px;
  margin-left: 400px;
}
.cuerpo .datosForm #boton {
  color: #b0e4c1;
  margin-left: 0px;
  margin-bottom: 60px;
}
